
.nameplate {    
    color: rgb(67,67,67);
    font-family: Rockwell;
    font-size: 20px;
    padding-top: 40px;
}

#20 {
    height: 200px;
}

#number {   
    height: 450px;
    transition: height 0.5s;
}

#nametol {
}

@media (min-width: 200px) and (max-width: 1000px)
{
	#number
	{
		height: 300px;        
	}
}