.round-border
{
	border-radius: 5px;
}
#instant-location {
    margin-bottom: 1px;
    height: 100px;    
    word-wrap: break-word;            
}

#instant-names {
    margin-bottom: 1px;
    height: 50px;
}

#instant-send {
    background: #ff505d;
    color: white;    
    height: 50px;
    width: 250px;
    padding-top: 0px;
    border: 0px;
    font-family: Segoe UI;
    font-size: 20px;
    transition: background 0.5s;
}
#instant-send:hover {
    background: #fd2737;   
}

#instant-situation {
    margin-bottom: 1px;
}

#modalClick {
    color: white;
    font-size: 20px;    
}

#modal-request {
    background: #fff1f1;
}

#instant-contact {
    margin-bottom: 1px;    
}

#urgency {
    position: relative;
    top: 100px;
    margin-bottom: -10px;
}

#urgent-location {
    border-radius: 3px;
}

#urgent-names {
    border-radius: 3px; 
    margin-bottom: 1px;
}

#urgent-situation {
    border-radius: 3px;
    margin-bottom: 1px;
}

#urgent-contact {
    border-radius: 3px;
    margin-bottom: 1px;
}

#banner {
    margin-bottom: -90px; 
    padding-bottom: -20px;
}

.roundedcorners {
    border-radius: 7px;
}

#human roundedcorners {
    border-radius: 5px;
}

#namebox {
    background: #de2a4d;
    border-radius: 50px;
    border: 0px;
    color: white;
    font-size: 35px;
    font-family: Segoe UI Light;
    height: 60px;
    text-align: center;
    transition: background 0.4s;
    
}

#namebox:focus{
    background: #186289;
}
#namebox:hover{
    background: #186289;
}
#btn_Submit {
    border: 0px;
    border-radius: 40px;
    background: #186289;
}

#btn_Submit:focus{
    background: #de2a4d;
}
#btn_Submit:hover{
    background: #de2a4d;
}

#maincontent {
    background: #162638;
    height: 100%;
    width: 100%;
}
